@import "../../Scss/index.scss";

.box-artists{
    >h1{
        border-bottom: 1px solid $border-grey-light;
        margin-bottom: 50px;
        padding-bottom: 10px;
        font-size: 40px;
    }
    .artists{
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    
        
        &__item{
            height: 130px;
            width: 120px;
            margin-bottom: 40px;
            text-align: center;
            
            .avatar{
                height: 120px;
                width: 120px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;
            }
            h4{
                color: $font-grey;
                padding: 0;
            }
        }
    }
}